<div class="container login">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light p-4">
            <form method="post" id="loginForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                        required>
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Password must contain at least one number, one uppercase and one lowercase letter, and at least 8 or more characters">
                    <div class="invalid-feedback">Password must contain at least one number, one uppercase and one
                        lowercase letter, and at least 8 or more characters</div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>