<div class="container-fluid d-flex justify-content-center pb-4 pt-2">
  <form class="d-flex searchbar">
    <input class="form-control searchbar me-2" style="width: 600px;" type="search"
      placeholder="How to annoy your DM this time?" aria-label="Search">
    <i class="fas fa-search search-icon"></i>
  </form>
</div>

<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <a class="card-link" href="">
        <div class="card card-main card-nr-1 ms-4">
          <div class="card-body fw-bold text-white fs-4 ">
            <p class="mb-0">Equipment</p>
            <p>& Magic Items</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="">
        <div class="card card-main card-nr-2 ms-4">
          <div class="card-body fw-bold text-white fs-4">
            <p class="mb-0">Characters</p>
            <p>& Classes</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="">
        <div class="card card-main card-nr-3 ms-4">
          <div class="card-body fw-bold text-white fs-4">
            <p class="mb-0">Staff for master</p>
            <p>& Spells</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>